* {
    /* first line always written by developers */
    margin: 0;
    padding: 0;
    /* remaining things needed for the website */
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

/*** Amazon Navbar ***/

.navbar {
    height: 58px;
    width: 1280px;
    background-color: #131A22;
    color: white;
    /* To bring all the elements to same line */
    display: flex;
    /* To bring all the elements to the center of the navbar */
    align-items: center;
    /* Equal spacing for whole navbar classes */
    justify-content: space-evenly;
}

/** Navbar Logo **/
.nav-logo {
    height: 50px;
    width: 114px;
    cursor: pointer;
}

.logo {
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

/** Navbar Address **/

.nav-address {
    cursor: pointer;
}

.deliver {
    color: #CCCCCC;
    font-size: 0.75rem;
    /* To bring this to same line as country text */
    margin-left: 19px;
}

.country {
    font-size: 1rem;
}

.add-icon {
    /* To bring icon and country to same line */
    display: flex;
    /* it's arranges the items in same line as navbar */
    align-items: center;
}

/** Navbar Search **/

.nav-search {
    display: flex;
    /* creates equal space between classes of search */
    justify-content: space-evenly;
    background-color: white;
    height: 40px;
    width: 600px;
    background-color: #febd69;
    /* same as Amazon website */
    border-radius: 4px;
}

/* It gives the orange border around search while hover on it */
.nav-search:hover {
    border: 2px solid orange;
}

.search-select {
    color: #0F1111;
    /* pointer displays as you hover on it */
    cursor: pointer;
    width: 50px;
    background-color: #E6E6E6;
    text-align: center;
    /* border for only left edges => Same as amazon */
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    /* remove right edges to avoid spacing between input and select */
    border: none;
}

.search-input {
    /* Occupies all the remaining spaces inside the search div */
    width: 100%;
    /* amazon has more font size on search bar */
    font-size: 1rem;
    /* same reason as search-select but left edges */
    border: none;
}

.search-icon {
    color: #0F1111;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transform: scale(1.2); */
    /* (or) */
    font-size: 1.2rem;
    cursor: pointer;
}

/** Navbar Language **/

.nav-lang i { /* styling a particular elements in class */
    font-size: 22px;
    cursor: pointer;
}

.nav-lang select {
    background-color: #131A22;
    color: white;
    border: none;
    cursor: pointer;
}

/** Navbar Sign-in & Returns and Orders **/

/* As sign-in style is same we copy it to the next div */

.nav-signin-one,.nav-return1 {
    margin-left: 4px;
    font-size: 0.80rem;
    cursor: pointer;
}

.signin-details,.nav-return2 {
    background-color: #131A22;
    width: auto;
    color: white;
    border: none;
    font-size: 0.85rem;
    /* To get darker font same as amazon */
    font-weight: 700;
    cursor: pointer;
}

/** Navbar Cart **/

.nav-cart {
    cursor: pointer;
    font-size: 0.85rem;
    font-weight: 700;
}

.nav-cart i { /* increase cart size */
    font-size: 30px;
}

/** Hover Border **/
.border {
    /* set transport to avoid movement of image */
    border: 1px solid transparent;
}

.border:hover {
    border: 1px solid white;
}

/*** Amazon Panel ***/

.panel {
    display: flex;
    height: 40px;
    width: 1280px;
    background-color: #232f3e;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

.panel-menu {
    cursor: pointer;
}

.panel-ops {
    width: 90%;
}

.panel a {
    text-decoration: none;
    color: white;
    font-size: 0.90rem;
    margin-left: 12px;
}

/** Hero-Section **/

.hero-section {
    background-image: url(hero_image.png);
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 1280px;
    /* To take the msg-box to end */
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg a {
    text-decoration: none;
    color: #2162A1;
}

.hero-msg a:hover {
    text-decoration-line: underline;
}

.hero-msg {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    height: 40px;
    width: 90%;
    align-items: center;
    align-content: center;
    font-size: 0.85rem;
    /* To bring the msg-box to center (same as amazon) */
    margin-bottom: 310px;
}

/** Shop Section **/

.shop-section {
    display: flex;
    /* This gives equal spacing between boxes */
    justify-content: space-evenly;
    background-color: #eaeded;
    flex-wrap: wrap; /* Wrap the boxes if there are more than 4 */
}

.box {
    height: 420px;
    width: 23%;
    background-color: #FFFFFF;
    /* Position the boxes under the hero-section */
    position: relative;
    bottom: 280px;
    padding: 20px 0px 15px; /* top right bottom */
}

.box-content {
    margin: 0px 10px 0px 20px; /* top right bottom left */
}

.box-content h2 {
    font-size: 1.3rem;
}

.img-box {
    height: 320px;
    width: 250px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* Positioned the image to center of the box */
    margin: 8px 0px 10px 0px;
}

.box-link a {
    text-decoration: none;
    color: #2162A1;
    cursor: pointer;
    font-size: 0.85rem;
}

.box-img1 {
    background-image: url("box1_image.png");
}

.box-img2 {
    background-image: url("box2_image.png");
}

.box-img3 {
    background-image: url("box3_image.png");
}

.box-img4 {
    background-image: url("box4_image.png");
}

.box5,.box6,.box7,.box8 {
    /* Manual positon setting */
    position: relative;
    bottom: 260px;
}

.box-img5 {
    background-image: url("box5_image.png");
}

.box-img6 {
    background-image: url("box6_image.png");
}

.box-img7 {
    background-image: url("box7_image.png");
}

.box-img8 {
    background-image: url("box8_image.png");
}

/** Back to Sign-in Page **/

footer hr {
    color: #0F1111; /* To make lines visible */
}

footer {
    background-color: #232f3e; /* color of footer */
    width: 1280px;
}

/* Lines are set in position */

#hr1 {
    position: relative;
    bottom: 200px;
}

#hr2 {
    position: relative;
    bottom: 150px;
}

.back-signin {
    height: 100px;
    width: 900px;
    display: flex;
    /* Bring them to required position */
    position: relative;
    bottom: 190px;
    justify-content: center;
    /* Wrap the things one by one due to width of boxes */
    flex-wrap: wrap;
}

.back-signin-heading {
    height: 36px;
    width: 100%;
    text-align: center;
    /* Bring the heading to center manually */
    margin: 10px 0px 10px 350px;
}

.back-signin-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Bring the heading to center manually */
    margin: 0px 0px 10px 350px;
}

.back-signin-button button {
    width: 200px;
    height: 30px;
    /* Same color as Amazon button sign in */
    background-color: #FFD814;
    font-size: 1rem;
    border-radius: 15px;
    border: none;
}

.back-signin-login {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Bring the heading to center manually */
    margin: 0px 0px 10px 350px;
    font-size: 0.75rem;
}

.back-signin-login a {
    color: #2162A1;
}

/** Back to Top Button **/

.footer-panel1 {
    height: 49px;
    width: 1280px;
    background-color: #37475A;
    text-align: center;
    justify-content: center;
    align-content: center;
    /* Sets Perfect positon manually */
    position: relative;
    bottom: 100px;
}

.footer-panel1 button {
    background-color: #37475A;
    color: #FFFFFF;
    border: none;
    font-size: 0.85rem;
}

.footer-panel1 button:hover {
    cursor: pointer;
}

/** Extra Info Of Amazon **/

.footer-panel2 {
    display: flex;
    font-size: 1rem;
    font-weight: 700;
    /* Sets perfect position manually */
    position: relative;
    bottom: 100px;
    width: 1280px;
}

.footer-panel2 a {
    text-decoration: none;
    color: #DDDDDD;
    font-weight: normal;
    font-size: 0.87rem;
    display: block;
    margin-top: 7px;
}

.footer-panel2 a:hover {
    text-decoration-line: underline;
}

.footer-panel2 ul {
    height: 300px;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 100px;
    display: block;
    /* Manual equal spacing */
    margin-top: 40px;
    margin-left: 120px;
}

/** Currency & Language Section **/

.footer-panel3 {
    display: flex;
    height: 68px;
    width: 1280px;
    position: relative;
    bottom: 50px;
    border-top: 0.5px solid #48494a;
}

.panel-logo {
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100px;
    margin: 45px 90px 0px 290px;
    background-color: #232f3e;
}

.footer-panel3 select {
    height: 33px;
    width: 160px;
    margin-top: 50px;
    background-color: #232f3e;
    color: #DDDDDD;
    margin-right: 9px;
    border-radius: 4px;
    padding: 0px 7.8px;
    font-size: 0.80rem;
}

/** Contact Info Section **/

.footer-panel4 {
    height: 70px;
    width: 1280px;
    background-color: #131A22;
    color: #DDDDDD;
    text-align: center;
    font-size: 0.80rem;
}

.customer-contacts {
    padding-top: 10px;
}

.customer-contacts a {
    text-decoration: none;
    color: #DDDDDD;
    margin-right: 10px;
}

.customer-contacts a:hover {
    text-decoration-line: underline;
}

.copyright {
    padding-top: 2px;
}