* {
    /* first line always written by developers */
    margin: 0;
    padding: 0;
    /* remaining things needed for the website */
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

/*** Amazon Navbar ***/

.navbar {
    height: 58px;
    width: 1280px;
    background-color: #131A22;
    color: white;
    /* To bring all the elements to same line */
    display: flex;
    /* To bring all the elements to the center of the navbar */
    align-items: center;
    /* Equal spacing for whole navbar classes */
    justify-content: space-evenly;
}

/** Navbar Logo **/
.nav-logo {
    height: 50px;
    width: 114px;
    cursor: pointer;
}

.logo {
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

/** Navbar Address **/

.nav-address {
    cursor: pointer;
}

.deliver {
    color: #CCCCCC;
    font-size: 0.75rem;
    /* To bring this to same line as country text */
    margin-left: 19px;
}

.country {
    font-size: 1rem;
}

.add-icon {
    /* To bring icon and country to same line */
    display: flex;
    /* it's arranges the items in same line as navbar */
    align-items: center;
}

/** Navbar Search **/

.nav-search {
    display: flex;
    /* creates equal space between classes of search */
    justify-content: space-evenly;
    background-color: white;
    height: 40px;
    width: 620px;
    background-color: #febd69;
    /* same as Amazon website */
    border-radius: 4px;
}

/* It gives the orange border around search while hover on it */
.nav-search:hover {
    border: 2px solid orange;
}

.search-select {
    color: #0F1111;
    /* pointer displays as you hover on it */
    cursor: pointer;
    width: 50px;
    background-color: #E6E6E6;
    text-align: center;
    /* border for only left edges => Same as amazon */
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    /* remove right edges to avoid spacing between input and select */
    border: none;
}

.search-input {
    /* Occupies all the remaining spaces inside the search div */
    width: 100%;
    /* amazon has more font size on search bar */
    font-size: 1rem;
    /* same reason as search-select but left edges */
    border: none;
}

.search-icon {
    color: #0F1111;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transform: scale(1.2); */
    /* (or) */
    font-size: 1.2rem;
    cursor: pointer;
}

/** Navbar Language **/

.nav-lang i { /* styling a particular elements in class */
    font-size: 22px;
    cursor: pointer;
}

.nav-lang select {
    background-color: #131A22;
    color: white;
    border: none;
    cursor: pointer;
}

/** Navbar Sign-in & Returns and Orders **/

/* As sign-in style is same we copy it to the next div */

.nav-signin-one,.nav-return1 {
    margin-left: 4px;
    font-size: 0.80rem;
    cursor: pointer;
}

.signin-details,.nav-return2 {
    background-color: #131A22;
    width: auto;
    color: white;
    border: none;
    font-size: 0.85rem;
    /* To get darker font same as amazon */
    font-weight: 700;
    cursor: pointer;
}

/** Navbar Cart **/

.nav-cart {
    cursor: pointer;
    font-size: 0.85rem;
    font-weight: 700;
}

.nav-cart i { /* increase cart size */
    font-size: 30px;
}

/** Hover Border **/
.border {
    /* set transport to avoid movement of image */
    border: 1px solid transparent;
}

.border:hover {
    border: 1px solid white;
}

/*** Amazon Panel ***/

.panel {
    display: flex;
    height: 40px;
    width: 1280px;
    background-color: #232f3e;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

.panel-menu {
    cursor: pointer;
}

.panel-ops {
    width: 90%;
}

.panel a {
    text-decoration: none;
    color: white;
    font-size: 0.90rem;
    margin-left: 12px;
}

/** Hero-Section **/

.hero-section {
    background-image: url(hero_image.png);
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 1280px;
    /* To take the msg-box to end */
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg a {
    text-decoration: none;
    color: #2162A1;
}

.hero-msg a:hover {
    text-decoration-line: underline;
}

.hero-msg {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    height: 40px;
    width: 90%;
    align-items: center;
    align-content: center;
    font-size: 0.85rem;
    /* To bring the msg-box to center (same as amazon) */
    margin-bottom: 310px;
}